@model IEnumerable<onlineshop.Models.Products>

@{
    ViewData["Title"] = "Productlist";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Productlist</h2>

<p>
    <a asp-action="Addproduct">Add new</a>
</p>
<div class="container">
    <div class=" col-lg-12">
        @foreach (Products p in Model)
        { 
            <div class="col-md-3 col-sm-4">
                <div class="thumbnail store style1">
                    <div class="header">
                        <div class="badges">
                            <span class="product-badge top left primary-background text-white semi-circle">@p.Type</span>
                            <span class="product-badge top right text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </span>
                        </div>
                        <figure>
                            <a href="/Home/productdetail?procode=@p.ProductCode">
                                <img src="@p.ProductImg1" alt="">

                            </a>
                        </figure>
                        @*<div class="icons">
                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-gift"></i></a>
                            <a class="icon semi-circle" href="javascript:void(0);" data-toggle="modal" data-target=".productQuickView"><i class="fa fa-search"></i></a>
                        </div>*@
                    </div>
                    <div class="caption">
                        <h6 class="regular"><a href="/Home/productdetail?procode=@p.ProductCode">@p.ProductTitle</a></h6>
                        <div class="price">

                            <small class="amount text-primary">$@p.ProductPrice</small>

                            

                        </div>
                       
                        <a  href="/Admin/Deleteproduct?procode=@p.ProductCode">Delete</a>
                        <a  href="/Admin/Editproduct?procode=@p.ProductCode">Edit</a>


                    </div><!-- end caption -->
                </div><!-- end thumbnail -->
            </div>

        }

        </div>

    </div>






