
<div id="undefined-sticky-wrapper" class="sticky-wrapper" style="height: 72px;">
    <div class="navbar yamm navbar-default  light-backgorund" style="">
        <div class="container">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="javascript:void(0);" class="navbar-brand">
                    <img src="/img/logo.png" alt="logo">
                </a>
            </div>
            <div id="navbar-collapse-1" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!-- Home -->
                    <li ><a asp-controller="home" asp-action="index">Home</a></li> 
                    <!-- Features -->

                    <li class="dropdown left">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Manageproducts<i class="fa fa-angle-down ml-5"></i></a>
                        <ul class="dropdown-menu">
                            <li><a asp-action="Addproduct">Addproduct</a></li>
                            <li><a asp-action="Deleteproduct">Deleteproduct</a></li>
                            <li><a asp-action="Editproduct">Editproduct</a></li>
                            <li><a asp-action="Productlist">ProductList</a></li>

                           

                           
                        </ul><!-- end ul dropdown-menu -->
                    </li>
                           
                    <!-- Pages -->
                   <!-- end li dropdown -->
                    <!-- elements -->
                    
                    <!-- Collections -->
                    @*<li class="dropdown yamm-fw">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Collections<i class="fa fa-angle-down ml-5"></i></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-3">
                                            <a href="javascript:void(0);">
                                                <figure class="zoom-out">
                                                    <img alt="" src="/img/banners/collection_01.jpg">
                                                </figure>
                                            </a>
                                        </div><!-- end col -->
                                        <div class="col-xs-12 col-sm-3">
                                            <a href="javascript:void(0);">
                                                <figure class="zoom-in">
                                                    <img alt="" src="/img/banners/collection_02.jpg">
                                                </figure>
                                            </a>
                                        </div><!-- end col -->
                                        <div class="col-xs-12 col-sm-3">
                                            <a href="javascript:void(0);">
                                                <figure class="zoom-out">
                                                    <img alt="" src="/img/banners/collection_03.jpg">
                                                </figure>
                                            </a>
                                        </div><!-- end col -->
                                        <div class="col-xs-12 col-sm-3">
                                            <a href="javascript:void(0);">
                                                <figure class="zoom-in">
                                                    <img alt="" src="/img/banners/collection_04.jpg">
                                                </figure>
                                            </a>
                                        </div><!-- end col -->
                                    </div><!-- end row -->

                                    <hr class="spacer-20 no-border">

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-3">
                                            <h6>Pellentes que nec diam lectus</h6>
                                            <p>Proin pulvinar libero quis auctor pharet ra. Aenean fermentum met us orci, sedf eugiat augue pulvina r vitae. Nulla dolor nisl, molestie nec aliquam vitae, gravida sodals dolor...</p>
                                            <button type="button" class="btn btn-default round btn-sm">Read more</button>
                                        </div><!-- end col -->
                                        <div class="col-xs-12 col-sm-3">
                                            <div class="thumbnail store style1">
                                                <div class="header">
                                                    <div class="badges">
                                                        <span class="product-badge top left white-backgorund text-primary semi-circle">Sale</span>
                                                        <span class="product-badge top right text-primary">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-half-o"></i>
                                                        </span>
                                                    </div>
                                                    <figure class="layer">
                                                        <img src="/img/products/men_01.jpg" alt="">
                                                    </figure>
                                                    <div class="icons">
                                                        <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                                                        <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-gift"></i></a>
                                                        <a class="icon semi-circle" href="javascript:void(0);" data-toggle="modal" data-target=".productQuickView"><i class="fa fa-search"></i></a>
                                                    </div>
                                                </div>
                                                <div class="caption">
                                                    <h6 class="thin"><a href="javascript:void(0);">Lorem Ipsum dolor sit</a></h6>
                                                    <div class="price">
                                                        <small class="amount off">$68.99</small>
                                                        <span class="amount text-primary">$59.99</span>
                                                    </div>
                                                    <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Add to cart</a>
                                                </div><!-- end caption -->
                                            </div><!-- end thumbnail -->
                                        </div><!-- end col -->
                                        <div class="col-xs-12 col-sm-3">
                                            <div class="thumbnail store style1">
                                                <div class="header">
                                                    <div class="badges">
                                                        <span class="product-badge top left white-backgorund text-primary semi-circle">Sale</span>
                                                        <span class="product-badge top right text-primary">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-half-o"></i>
                                                        </span>
                                                    </div>
                                                    <figure class="layer">
                                                        <img src="/img/products/women_01.jpg" alt="">
                                                    </figure>
                                                    <div class="icons">
                                                        <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                                                        <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-gift"></i></a>
                                                        <a class="icon semi-circle" href="javascript:void(0);" data-toggle="modal" data-target=".productQuickView"><i class="fa fa-search"></i></a>
                                                    </div>
                                                </div>
                                                <div class="caption">
                                                    <h6 class="thin"><a href="javascript:void(0);">Lorem Ipsum dolor sit</a></h6>
                                                    <div class="price">
                                                        <small class="amount off">$68.99</small>
                                                        <span class="amount text-primary">$59.99</span>
                                                    </div>
                                                    <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Add to cart</a>
                                                </div><!-- end caption -->
                                            </div><!-- end thumbnail -->
                                        </div><!-- end col -->
                                        <div class="col-xs-12 col-sm-3">
                                            <div class="thumbnail store style1">
                                                <div class="header">
                                                    <div class="badges">
                                                        <span class="product-badge top left white-backgorund text-primary semi-circle">Sale</span>
                                                        <span class="product-badge top right text-primary">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-half-o"></i>
                                                        </span>
                                                    </div>
                                                    <figure class="layer">
                                                        <img src="/img/products/kids_01.jpg" alt="">
                                                    </figure>
                                                    <div class="icons">
                                                        <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                                                        <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-gift"></i></a>
                                                        <a class="icon semi-circle" href="javascript:void(0);" data-toggle="modal" data-target=".productQuickView"><i class="fa fa-search"></i></a>
                                                    </div>
                                                </div>
                                                <div class="caption">
                                                    <h6 class="thin"><a href="javascript:void(0);">Lorem Ipsum dolor sit</a></h6>
                                                    <div class="price">
                                                        <small class="amount off">$68.99</small>
                                                        <span class="amount text-primary">$59.99</span>
                                                    </div>
                                                    <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Add to cart</a>
                                                </div><!-- end caption -->
                                            </div><!-- end thumbnail -->
                                        </div><!-- end col -->
                                    </div><!-- end row -->
                                </div><!-- end yamm-content -->
                            </li><!-- end li -->
                        </ul><!-- end dropdown-menu -->
                    </li><!-- end dropdown -->*@
                </ul><!-- end navbar-nav -->
                <ul class="nav navbar-nav navbar-right">
                    @*<li class="dropdown yamm-fw">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                            <span class="hidden-sm">Categories</span><i class="fa fa-bars ml-5"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <!-- Content container to add padding -->
                                <div class="yamm-content">
                                    <div class="row">
                                        <ul class="col-xs-12 col-sm-3">
                                            <li class="title">
                                                <h6>Categories</h6>
                                            </li>
                                            <li><a href="javascript:void(0);">Mens</a></li>
                                            <li><a href="javascript:void(0);">Womens</a></li>
                                            <li><a href="javascript:void(0);">Kids</a></li>
                                            <li><a href="javascript:void(0);">Fashion</a></li>
                                            <li><a href="javascript:void(0);">Sportwear</a></li>
                                            <li><a href="javascript:void(0);">Bags</a></li>
                                            <li><a href="javascript:void(0);">Shoes</a></li>
                                            <li><a href="javascript:void(0);">HouseHolds</a></li>
                                            <li><a href="javascript:void(0);">Technology</a></li>
                                        </ul>
                                        <div class="col-sm-9">
                                            <h6 class="text-center">Men Collection - <span class="text-primary">25% Off</span></h6>
                                            <figure>
                                                <a href="javascript:void(0);">
                                                    <img alt="" src="/img/banners/banner_big.jpg">
                                                </a>
                                            </figure>
                                        </div><!-- end col -->
                                    </div><!-- end row -->
                                </div><!-- end yamn-content -->
                            </li>
                        </ul>




                    </li>*@
                    <li class="pull-right"><a asp-action="logout">Logout</a></li>
                </ul>
            </div><!-- end navbar collapse -->
        </div><!-- end container -->
    </div>
</div>
