<footer class="footer col-lg-12"  style="">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="icon-boxes style1">
                    <div class="icon">
                        <i class="fa fa-truck text-gray"></i>
                    </div><!-- end icon -->
                    <div class="box-content">
                        <h6 class="alt-font text-light text-uppercase">Free Shipping</h6>
                        <p class="text-gray">Aenean semper lacus sed molestie sollicitudin.</p>
                    </div>
                </div><!-- icon-box -->
            </div><!-- end col -->
            <div class="col-sm-3">
                <div class="icon-boxes style1">
                    <div class="icon">
                        <i class="fa fa-life-ring text-gray"></i>
                    </div><!-- end icon -->
                    <div class="box-content">
                        <h6 class="alt-font text-light text-uppercase">Support 24/7</h6>
                        <p class="text-gray">Aenean semper lacus sed molestie sollicitudin.</p>
                    </div>
                </div><!-- icon-box -->
            </div><!-- end col -->
            <div class="col-sm-3">
                <div class="icon-boxes style1">
                    <div class="icon">
                        <i class="fa fa-gift text-gray"></i>
                    </div><!-- end icon -->
                    <div class="box-content">
                        <h6 class="alt-font text-light text-uppercase">Gift cards</h6>
                        <p class="text-gray">Aenean semper lacus sed molestie sollicitudin.</p>
                    </div>
                </div><!-- icon-box -->
            </div><!-- end col -->
            <div class="col-sm-3">
                <div class="icon-boxes style1">
                    <div class="icon">
                        <i class="fa fa-credit-card text-gray"></i>
                    </div><!-- end icon -->
                    <div class="box-content">
                        <h6 class="alt-font text-light text-uppercase">Payment 100% Secure</h6>
                        <p class="text-gray">Aenean semper lacus sed molestie sollicitudin.</p>
                    </div>
                </div><!-- icon-box -->
            </div><!-- end col -->
        </div><!-- end row -->

        <hr class="spacer-30">

        <div class="row">
            <div class="col-sm-3">
                <h5 class="title">Plus</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit, libero a molestie consectetur, sapien elit lacinia mi.</p>

                <hr class="spacer-10 no-border">

               
            </div><!-- end col -->
            <div class="col-sm-3">
                <h5 class="title">Admin Controls</h5>
                <ul class="list alt-list">


                    <li><a asp-controller="User" asp-action="mycart"><i class="fa fa-angle-right"></i>All Orders</a></li>
                    <li><a asp-controller="User" asp-action="myorder"><i class="fa fa-angle-right"></i>All Customers</a></li>
                    <li><a asp-controller="User" asp-action="checkout"><i class="fa fa-angle-right"></i>Pending Orders</a></li>
                </ul>
            </div><!-- end col -->
            <div class="col-sm-3">
                <h5 class="title">Information</h5>
                <ul class="list alt-list">
                    <li><a><i class="fa fa-angle-right"></i>About Us</a></li>

                    <li><a href="contact-v1.html"><i class="fa fa-angle-right"></i>Contact Us</a></li>
                </ul>
            </div><!-- end col -->
            <div class="col-sm-3">
                <h5 class="title">Payment Methods</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <ul class="list list-inline">
                    <li class="text-white"><i class="fa fa-cc-visa fa-2x"></i></li>
                    <li class="text-white"><i class="fa fa-cc-paypal fa-2x"></i></li>
                    <li class="text-white"><i class="fa fa-cc-mastercard fa-2x"></i></li>
                    <li class="text-white"><i class="fa fa-cc-discover fa-2x"></i></li>
                </ul>
            </div><!-- end col -->
        </div><!-- end row -->

        <hr class="spacer-30">

        <div class="row text-center">
            <div class="col-sm-12">
                <p class="text-sm">© 2017. Made with <i class="fa fa-heart text-danger"></i> by <a href="javascript:void(0);">DiamondCreative.</a></p>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</footer>