<section class="section white-backgorund">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 vertical-align">
                <h2 class="title">About Plus</h2>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
            </div><!-- end col -->
            <div class="col-sm-5 vertical-align">
                <figure class="zoom-in">
                    <img src="img/coming-soon-bg.jpg" alt="">
                </figure>
            </div><!-- end col -->
        </div><!-- end row -->

        <hr class="spacer-100">

        

       

        <div class="row">
            <div class="col-sm-12">
                <div class="title-wrap">
                    <h2 class="title">Team</h2>
                    <h6 class="subtitle">Lorem Ipsum dolar sit amet</h6>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->

        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="member zoom-in">
                    <figure>
                        <img src="/img/team/team_01.jpg" alt="">
                        <ul class="social-icons style1">
                            <li class="facebook"><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li class="instagram"><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram"><i class="fa fa-instagram"></i></a></li>
                            <li class="dribbble"><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
                            <li class="behance"><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="Behance"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </figure>
                    <div class="member-content">
                        <h5 class="name regular">John Doe</h5>
                        <h6 class="position thin">Co-Founder, CEO</h6>
                    </div><!-- end member-content -->
                </div><!-- end member -->
            </div><!-- end col -->
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="member zoom-in">
                    <figure>
                        <img src="img/team/team_02.jpg" alt="">
                        <ul class="social-icons style1">
                            <li class="facebook"><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li class="instagram"><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram"><i class="fa fa-instagram"></i></a></li>
                            <li class="dribbble"><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
                            <li class="behance"><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="Behance"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </figure>
                    <div class="member-content">
                        <h5 class="name regular">John Doe</h5>
                        <h6 class="position thin">Marketing Director</h6>
                    </div><!-- end member-content -->
                </div><!-- end member -->
            </div><!-- end col -->
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="member zoom-in">
                    <figure>
                        <img src="img/team/team_03.jpg" alt="">
                        <ul class="social-icons style1">
                            <li class="facebook"><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li class="instagram"><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram"><i class="fa fa-instagram"></i></a></li>
                            <li class="dribbble"><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
                            <li class="behance"><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="Behance"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </figure>
                    <div class="member-content">
                        <h5 class="name regular">Jane Doe</h5>
                        <h6 class="position thin">Sales Director</h6>
                    </div><!-- end member-content -->
                </div><!-- end member -->
            </div><!-- end col -->
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="member zoom-in">
                    <figure>
                        <img src="img/team/team_04.jpg" alt="">
                        <ul class="social-icons style1">
                            <li class="facebook"><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li class="instagram"><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram"><i class="fa fa-instagram"></i></a></li>
                            <li class="dribbble"><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
                            <li class="behance"><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="Behance"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </figure>
                    <div class="member-content">
                        <h5 class="name regular">John Doe</h5>
                        <h6 class="position thin">Brand Director</h6>
                    </div><!-- end member-content -->
                </div><!-- end member -->
            </div><!-- end col -->
        </div><!-- end row -->

    </div><!-- end container -->
</section>