@using onlineshop.Models
@model onlineshop.Models.SizeColor
<div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <select class="form-control" name="select">
            <option value="" selected="">Color</option>
            <option value="red">Red</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
        </select>
    </div><!-- end col -->
    <div class="col-md-4 col-sm-6 col-xs-12">
        <select class="form-control" name="select">
            <option value="">Size</option>
            <option value="">S</option>
            <option value="">M</option>
            <option value="">L</option>
            <option value="">XL</option>
            <option value="">XXL</option>
        </select>
    </div><!-- end col -->
    <div class="col-md-4 col-sm-12">
        <select class="form-control" name="select">
            <option value="" selected="">QTY</option>
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
            <option value="">5</option>
            <option value="">6</option>
            <option value="">7</option>
        </select>
    </div><!-- end col -->
</div>